{% for item in items %}
  <h1> {{ "Brevet name: " + item.Brevet }} </h1>
  <p>{{"Total Distance: " + item.Distance}}</p>
  <p>{{"Brevet Start Date: " + item.StartDate}}</p>
  <p>{{"Brevet Start Time: " + item.StartTime}}</p>
  {% for key, value in item.Controls.items() %}
  <p>{{"Control point: " + key + "km, Open time: " + value[0] + ", Close Time: " + value[1]}}</p>
  <!-- <tr>
    <th> {{ key }} </th>
    <td> {{ value }} </td>
</tr> -->
{% endfor %}
  <p></p>
  <p></p>
{% endfor %}